.folha{
	font-family:Arial, Helvetica, sans-serif;
	-webkit-print-color-adjust: exact; /*IMPRIMIR COM CORES NO CHROME*/
	padding:1em;
/*	border: thin solid #cccccc; */
	width: 800px;
	margin: auto;
	margin-top:5px;
}

.folha p{
	/*border-bottom: #E9E9E9 thin solid;*/
}

.folha .titulo{
	background-color: rgb(226, 226, 226);
	text-align: center;
	padding: 2px;
	text-transform: uppercase;
	font-weight: bold;
}

.folha .subTitulo{
	background-color: #D2E6FF;
	padding: 1px;
	font-weight: bold;
}

.folha .importante{
	background-color: #FFCBCB;
	padding: 1px;	
	display: table;
}
